server:
  port: 8089

spring:
  cloud:
    config:
      server:
        git:
          uri: https://git.oschina.net/zhou666/spring-cloud-7simple.git

spring.cloud.config.server.git.searchPaths=cloud-config-repo